* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 230, 230);
}

nav {
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
}

.button {
    display: block;
    padding: 20px;
    text-decoration: none;
}

nav > a.button:hover,
nav > a.button:active{
    background-color: deepskyblue;
}

nav > a.button:visited,
nav > a.button:active,
nav > a.button:hover
{
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.container > div {
    padding: 20px 0;
}

p {
    margin-top: 20px;
}

.hidden {
    color: rgb(230, 230, 230);
}
